{% extends 'base.html' %}

{% block page_title %}
    {{cats}}
{% endblock page_title %}




{% block contents %}
<div style="margin-top: -2%;">

  <nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <!-- <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li> -->
      <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li> -->
      <li class="breadcrumb-item"><a class="fa fa-arrow-left fa-1.5x" href = "{% url 'home' %}" ><span class="card-title m-0"> Back</span></a></li>
      
      <li class="breadcrumb-item active" aria-current="page">{{cats}}</li>
    </ol>
  </nav>
</div>


{% if category_posts %}

 
      {% for post in category_posts %}
      <div class="card mt-4" style="box-shadow: 0 3px 5px rgba(0,0,0,0.3);">
        <div class="card-header">
          
          <h3 class="" ><a class="text-dark" style="text-decoration:none" href="{% url 'article-detail' post.slug %}">{{post.title}}</a></h3>
          <p>Kategori: {{post.category}} | {{post.published}}</p>
        </div>
      <div class="card-body">
        <div class="tab-content p-0">
          
          <p>{{post.body|safe|truncatewords:100}} <a style="text-decoration:none" href="{% url 'article-detail' post.slug %}">Selengkapnya</a>
            <br><br>
            <small>
              {% if user.is_authenticated %} 
              {% if user.id == post.author.id %}
              <a href="{% url 'update-post' post.pk %}">[Edit]</a>
              <a href="{% url 'delete-post' post.pk %}">[Delete]</a>
              {% endif %}
            {% endif %}
            </small>
          </p>
        </div>
        </div>
        </div>
        <br><br>


      {% endfor %}
  
  
  {% else %}
  <h2>Sory this page does not exist..</h2>
  {% endif %}
    

  
{% endblock contents %}