<!-- <form action="" method="post">
  {% csrf_token %} -->
  
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Absen Karyawan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nama:</label>
            <input type="text" class="form-control" id="recipient-name" value="{{request.user}}">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">NIK:</label>
            <input type="text" class="form-control" id="recipient-name" value="{{profile.nik}}">
          </div>
          <!-- <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div> -->
        </form>
      </div>

      <form action="" method="post">
        {% csrf_token %}

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 
        <button class="btn btn-primary btn-sm" type="submit">ABSEN</button>
        {{Heading}}
      </div>
      </form>

    </div>
  </div>
</div>


  <!-- </form> -->

