{% extends 'base.html' %}

{% block page_title %}
    Change Password
{% endblock page_title %}

{% block contents %}
<h1>Change Password..</h1>

<div class="card-body">

    <form action="" method="post">
        {% csrf_token %}
        <div class="col-sm-auto">
            {{ form.as_p}}
            <button class="btn btn-secondary btn-sm" type="submit">Change Password</button>
        </div>
        
    </form>
    <br><br>
    <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>
      
</div>
{% endblock contents %}